/* Write your CSS here */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: darkgoldenrod;
  height: 100vh;
}
h1 {
  text-align: center;
}
